{% extends 'base.html' %}

{% block content %}
<div class="form">
  <h1 class="form-title">Sign up</h1>
  <form action="/signup" method="post">
      <label for="name">Username:</label>
      <input class="form-element" type="text" name="name" id="name" required>  
                
      <label for="email">Email:</label>
      <input class="form-element" type="email" name="email" id="email" required>
                
      <label for="password">Password:</label>
      <input class="form-element" type="password" name="password" id="password" required>
                
      <input class="submit-button" type="submit" value="Submit">
    </form>
  <a><img class="google-icon" src="{{ url_for('static', filename='googleicon.png') }}" alt="Google Icon"></a>
</div>
{% endblock %}